ul.nav.nav-tabs.dont-print
  li.active
    a(href='#teams', data-toggle='tab') Teams
  li
    a(href='#judges', data-toggle='tab') Judges
  li
    a(href='#rooms', data-toggle='tab') Rooms
  li
    a(href='#settings', data-toggle='tab') Settings

div.tab-content
  div#teams.tab-pane.active
    div#team-list(ng-show='!round.paired')
      .control-group.dont-print
        .btn-group.inline-block
          button(ng-click='addAllTeams()').btn
            i.fa.fa-fw.fa-check-square-o
            |  all
          button(ng-click='removeAllTeams()').btn
            i.fa.fa-fw.fa-square-o
            |  all
        = ' '
        button(ng-click='sortByRank()').btn Sort by pairing rank
        = ' '
        button(ng-click='pair()').btn.btn-danger Pair
        = ' '
        div.inline.small-margin Check teams that are to play this round.

      h3.print-only.text-center {{round.getName()}} - Available teams

      table(editable-table, model='round.teams', visible='round.tableOpts.teams', reorders)#round-teams-table
        thead
          tr
            th(data-auto-index=5) #
            th(data-auto-index=4)
              sort-arrow(model='round.teams', sort-by='o.rounds[round.id].participates', hide-arrows)
                i.fa.fa-fw.fa-check-square-o
            th(data-auto-index=3)
              sort-arrow(model='round.teams', sort-by='o.name') Team name
            th(data-auto-index=2)
              sort-arrow(model='round.teams', sort-by='eliminateNil(o.club.name)') Club
        tbody(editable-tbody)
          script(type='text/html')
            td {{$index + 1}}
            td
              input(type='checkbox', ng-model='o.rounds[round.id].participates')
            td {{o.name}}
            td: span(class='muted-{{o.club == null}}') {{nilPlaceholder(o.club, {name:"unaffiliated"}).name}}

    div#pairings(ng-show='round.paired' class="printca-{{round.printCAMode}} showranks-{{showRanks}}")
      .control-group.dont-print
        button(ng-click='shuffle()').btn Shuffle
        = ' '
        button(ng-click='shuffleRooms()').btn Shuffle in rooms
        = ' '
        button(ng-click='sortBallots()').btn Sort by match rank
        = ' '
        div.inline.small-margin You can manually drag judges and rooms to fine-tune


      mixin judgeCell(free, shadow)
        - var bind = free ? 'round.freeJudges' : shadow ? 'o.shadows' : 'o.judges';
        - var ext = free ? '.well.settings-group.free-judges' : '.ballot-{{$index}} .' + (shadow ? 'shadow' : 'main') + '-judges';
        - var extLast = free ? '' : ('{{yesNo(o.shadows.length || round.allowShadowsSolved(), ' + (shadow ? '".judges-ballot-" + $index, "")}}' : '"", ".ballot-" + $index)}}'));
        - var reorders = free ? 'true' : '!o.locked';
        - var userdata = 'judgeUd(' + (free ? 'null' : 'o') + ', ' + (shadow ? 'true' : 'false') + ')';
        - var onStartDrag = 'judgeDragStart(list.model[index])';
        - var onEndDrag = 'judgeDragEnd()';
        - var groupTest = 'judgeGroupTest(fromList, toList)';
        - var groupReplaceTest = 'judgeGroupReplaceTest(fromList, toList)';
        - var manualReplace = 'judgeReplace(fromList, fromIndex, toList, toIndex)';
        - var manualMove = 'judgeMove(fromList, fromIndex, toList, toIndex)';
        - var boxClass = free ? '' : 'valid-{{!showShadowConflicts || isCompatible(o, hlo)}}'
        hlist-cell(bind='#{bind}', extension-element='#{ext}', extension-element-last='#{extLast}', edit-hidden='true', reorders-always, reorders='#{reorders}', userdata='#{userdata}', drop-group='judge-drop', replace-class='judge-selected', on-start-drag='#{onStartDrag}', on-end-drag='#{onEndDrag}', group-test='#{groupTest}', group-replace-test='#{groupReplaceTest}', manual-replace='#{manualReplace}' manual-move='#{manualMove}').judge-list
          span(class="#{boxClass}").judge-box
            span(class="judge-rank-{{hlo.rank}}").judge-rank {{rankStrings[hlo.rank]}}:&nbsp;
            | {{hlo.name}}

      h3.print-only.text-center {{round.getName()}} - Pairing

      .row-fluid
        .span9.print-full-width
          table(editable-table, model='round.ballots', visible='round.tableOpts.ballots', table-class='table table-bordered table-hover', row-clicked='editBallot($index)', reorders)#round-pairings-table
            thead
              tr
                th(data-auto-index=6) #
                th(data-auto-index=4)
                  sort-arrow(model='round.ballots', compare-function='naturalRoomSort(a, b)') Room
                th(data-auto-index=3)
                  sort-arrow(model='round.ballots', sort-by='namePlaceholder(o.teams[0]).name').prop Prop
                th(data-auto-index=2)
                  sort-arrow(model='round.ballots', sort-by='namePlaceholder(o.teams[1]).name').opp Opp
                th(data-auto-index=1) Judges
                th(data-auto-index=5) Win
            tbody(editable-tbody)
              script(type='text/html')
                td {{$index + 1}}
                td(ng-controller='RoomController', class='ballot-{{$index}}').room-cell
                  hlist-cell(bind='currentRoom', edit-hidden='true', reorders-always, reorders='!o.locked && o.room', drop-group='rooms-drop', replace-class='judge-selected', group-replace-test='toList.ud == null || !toList.ud.locked', group-test='toList.ud == null', userdata='o', replace-extensions='.room-cell.ballot-{{$index}}', manual-move='roomMove(fromList, fromIndex, toList, toIndex)', manual-replace='roomReplace(fromList, fromIndex, toList, toIndex)')
                    span(class='notavailable-{{hlo == null}}').room-na.dont-export N/A
                    span(ng-show='hlo != null').judge-box {{hlo.name}}
                td: span(class='muted-{{o.teams[0] == null}} dont-export-{{o.teams[0] == null}}') {{namePlaceholder(o.teams[0],'Bye').name}}
                td: span(class='muted-{{o.teams[1] == null}} dont-export-{{o.teams[1] == null}}') {{namePlaceholder(o.teams[1],'Bye').name}}
                td(class='compat-{{compatList[$index]}}', data-index='{{$index}}').judges-cell
                  span(class="notavailable-{{!o.teams[0] || !o.teams[1]}}") N/A
                  div(ng-show='o.teams[0] && o.teams[1]', class='ballot-{{$index}}')
                    div.nowrap.inline-block.main-judges
                      i.fa.fa-gavel.judge-icon
                      = ' '
                      +judgeCell(false, false)
                    = ' '
                    div(ng-show='o.shadows.length || round.allowShadowsSolved()').nowrap.inline-block.shadow-judges
                      i.fa.fa-eye.judge-icon
                      = ' '
                      +judgeCell(false, true)
                td(data-index='{{$index}}').nowrap.win-cell
                  span(class="{{o.stats.classes[0]}}") {{o.stats.scores[0]}}&nbsp;
                  span(class="{{o.stats.winClass}}"): i.fa.fa-trophy
                  span(class="{{o.stats.classes[1]}}") &nbsp;{{o.stats.scores[1]}}
        .span3.dont-print
          .well.settings-group.ca-mode
            div
              label.checkbox.inline
                input(type='checkbox' ng-model='round.caMode')
                span
                  strong CA Mode
            div(ng-show='round.caMode')
              div: label.checkbox.inline
                input(type='checkbox' ng-model='round.showConflicts')
                span Show judge conflicts
              div: label.checkbox.inline
                input(type='checkbox' ng-model='round.showShadowConflicts')
                span Show shadow conflicts
              div: label.checkbox.inline
                input(type='checkbox' ng-model='round.showRanks')
                span Show judge ranks
              div: label.checkbox.inline
                input(type='checkbox' ng-model='round.printCAMode')
                span Print all of the above
            div
              span: strong Reassign:&nbsp;
              div.btn-group.inline
                button(ng-click='assignJudges()').btn Judges
                button(ng-click='assignRooms()').btn Rooms

          .well.settings-group.free-judges
            strong Free judges
            div(ng-show='!round.freeJudges.length')
              | All judges have been assigned
            div(ng-show='round.freeJudges.length')
              +judgeCell(true, false)
          .well.settings-group.free-rooms
            strong Free rooms
            div(ng-show='!round.freeRooms.length')
              | All rooms have been assigned
            div(ng-show='round.freeRooms.length')
              hlist-cell(bind='round.freeRooms', replace-class='judge-selected' extension-element='.well.settings-group.free-rooms', edit-hidden='true', reorders-always, reorders='true', drop-group='rooms-drop', group-replace-test='toList.ud == null || !toList.ud.locked', userdata='null', group-test='toList.ud == null', manual-move='roomMove(fromList, fromIndex, toList, toIndex)', manual-replace='roomReplace(fromList, fromIndex, toList, toIndex)')
                span.judge-box {{hlo.name}}

  div#judges.tab-pane
    .control-group.dont-print
      .btn-group.inline
        button(ng-click='addAllJudges()').btn
          i.fa.fa-fw.fa-check-square-o
          |  all
        button(ng-click='removeAllJudges()').btn
          i.fa.fa-fw.fa-square-o
          |  all
        button(ng-click='removeShadows()').btn
          i.fa.fa-fw.fa-square-o
          |  shadows
      = ' '
      div.inline.small-margin Check judges that are available to judge this round.

    h3.print-only.text-center {{round.getName()}} - Available judges

    table(editable-table, model='round.judges', visible='round.tableOpts.judges', reorders)#round-judges-table
      thead
        tr
          th(data-auto-index=5) #
          th(data-auto-index=4)
            sort-arrow(model='round.judges', sort-by='o.rounds[round.id].participates', hide-arrows)
              i.fa.fa-fw.fa-check-square-o
          th(data-auto-index=2)
            sort-arrow(model='round.judges', sort-by='o.name') Name
          th(data-auto-index=1)
            sort-arrow(model='round.judges', sort-by='eliminateNil(o.club.name)') Club
          th(data-auto-index=3)
            sort-arrow(model='round.judges', sort-by='o.rank') Rank
      tbody(editable-tbody)
        script(type='text/html')
          td {{$index + 1}}
          td
            input(type='checkbox', ng-disabled='o.rounds[round.id].ballot.locked', ng-model='o.rounds[round.id].participates')
          td {{o.name}}
          td: span(class='muted-{{o.club == null}}') {{nilPlaceholder(o.club, {name:"unaffiliated"}).name}}
          td {{rankStrings[o.rank]}}

  div#rooms.tab-pane
    .control-group.dont-print
      .btn-group.inline
        button(ng-click='addAllRooms()').btn
          i.fa.fa-fw.fa-check-square-o
          |  all
        button(ng-click='removeAllRooms()').btn
          i.fa.fa-fw.fa-square-o
          |  all
      = ' '
      div.inline.small-margin Check rooms that are available this round.

    h3.print-only.text-center {{round.getName()}} - Available rooms

    table(editable-table, model='round.rooms', visible='round.tableOpts.rooms', reorders)#round-rooms-table
      thead
        tr
          th(data-auto-index=5) #
          th(data-auto-index=4)
            sort-arrow(model='round.rooms', sort-by='o.rounds[round.id].participates', hide-arrows)
              i.fa.fa-fw.fa-check-square-o
          th(data-auto-index=2)
            sort-arrow(model='round.rooms', sort-by='o.name') Name
      tbody(editable-tbody)
        script(type='text/html')
          td {{$index + 1}}
          td
            input(type='checkbox', ng-model='o.rounds[round.id].participates')
          td {{o.name}}

  div#settings.tab-pane
    h3.print-only.text-center {{round.getName()}} - Settings

    .row-fluid
      .span6
        .well.settings-group
          strong Settings
          div
            span Ballots per match:&nbsp;
              multi-cell(bind='round.ballotsPerMatch', nil-placeholder='{{tournament.ballotsPerMatch}} (inherited)', input-width='120', choices='ballotsPerMatchOptions', choice-name='o')
                i.fa.fa-fw.fa-edit.bottom-line
          div
            span Allow shadow judges:
            label.checkbox.inline
              input(type='checkbox' tristate-checkbox='round.allowShadows')
              span(class="muted-{{round.allowShadows == null}}") {{yesNoInherit(round.allowShadows, "Yes", "No", yesNo(round.tournament.allowShadows, "Yes", "No") + " (inherited)")}}

        .well.settings-group
          strong Calculate pairing rank based on:
          div
            label.checkbox
              input(type='checkbox', ng-model='round.rankFrom.all')
              | All previous rounds
            label.checkbox(ng-repeat='o in tournament.rounds', ng-show='o!=round && !round.rankFrom.all')
              input(type='checkbox', ng-model='round.rankFrom[o.id]')
              | Round {{$index+1}}

        .well.settings-group
          strong Pairing rank criteria
          div
            label.checkbox
              input(type='checkbox', ng-model='round.inheritPairRank')
              | Inherit from tournament settings
          div(ng-show='!round.inheritPairRank')
            sorter-criteria(bind='round.pairRankSorter')

      .span6
        .well.settings-group
          strong Judge assignment rules
          div
            span Max. main judges:&nbsp;
              multi-cell(bind='round.maxMainJudges', nil-placeholder='{{infinityName(tournament.maxMainJudges,infinity,"Unlimited")}} (inherited)', input-width='170', choices='maxPanelChoices', choice-name='infinityName(o,infinity,"Unlimited")')
                i.fa.fa-fw.fa-edit.bottom-line
          div
            span Max. shadow judges:&nbsp;
              multi-cell(bind='round.maxShadowJudges', nil-placeholder='{{infinityName(tournament.maxShadowJudges,infinity,"Unlimited")}} (inherited)', input-width='170', choices='maxPanelChoices', choice-name='infinityName(o,infinity,"Unlimited")')
                i.fa.fa-fw.fa-edit.bottom-line
          div
            span Max. panel size (mains + shadows):&nbsp;
              multi-cell(bind='round.maxPanelSize', nil-placeholder='{{infinityName(tournament.maxPanelSize,infinity,"Unlimited")}} (inherited)', input-width='170', choices='maxPanelChoices', choice-name='infinityName(o,infinity,"Unlimited")')
                i.fa.fa-fw.fa-edit.bottom-line


          strong Main judges:
          div
            multi-cell(bind='round.judgeMainPriority', nil-placeholder='{{priorityChoiceNames[tournament.judgeMainPriority]}} (inherited)', input-width='320', choices='priorityChoices', choice-name='priorityChoiceNames[o]')
              i.fa.fa-fw.fa-edit.bottom-line
          div
            multi-cell(bind='round.judgeMainOrder', nil-placeholder='{{orderChoiceNames[tournament.judgeMainOrder]}} (inherited)', input-width='320', choices='orderChoices', choice-name='orderChoiceNames[o]')
              i.fa.fa-fw.fa-edit.bottom-line

          strong Shadow judges:

          div
            span Use idle mains as shadows:
            label.checkbox.inline
              input(type='checkbox' tristate-checkbox='round.judgeShadowReport')
              span(class="muted-{{round.judgeShadowReport == null}}") {{yesNoInherit(round.judgeShadowReport, "Yes", "No", yesNo(round.tournament.judgeShadowReport, "Yes", "No") + " (inherited)")}}
          div(ng-show='round.judgeShadowReportSolved()')
            multi-cell(bind='round.judgeShadowPriority', nil-placeholder='{{priorityChoiceNames[tournament.judgeShadowPriority]}} (inherited)', input-width='320', choices='priorityChoices', choice-name='priorityChoiceNames[o]')
              i.fa.fa-fw.fa-edit.bottom-line
          div
            multi-cell(bind='round.judgeShadowOrder', nil-placeholder='{{orderChoiceNames[tournament.judgeShadowOrder]}} (inherited)', input-width='320', choices='orderChoices', choice-name='orderChoiceNames[o]')
              i.fa.fa-fw.fa-edit.bottom-line

        .well.settings-group
          strong Additional judge assignment rules
          div
            judge-rules(model='round.judgeRules')


:stylus
  #round-judges-table th:nth-child(1)
    width: 15px
  #round-judges-table th:nth-child(2)
    width: 10px
  #round-judges-table th:nth-child(3)
    width: 30%
  #round-judges-table th:nth-child(5)
    width: 10%
    
  #round-teams-table th:nth-child(1)
    width: 15px
  #round-teams-table th:nth-child(2)
    width: 10px
  #round-teams-table th:nth-child(3)
    width: 40%
  #round-teams-table th:nth-child(3)
    width: 40%

  #round-pairings-table th:nth-child(1)
    width: 15px
  #round-pairings-table th:nth-child(2)
    width: 10%
  #round-pairings-table th:nth-child(3)
    width: 20%
  #round-pairings-table th:nth-child(4)
    width: 20%
  #round-pairings-table th:nth-child(6)
    width: 70px

  #round-rooms-table th:nth-child(1)
    width: 15px
  #round-rooms-table th:nth-child(2)
    width: 10px
