div(ng-show='lockJudgesInfo').alert.alert-info
  button(type='button', class='close', ng-click='lockJudgesInfo=false'): &times;
  <strong>Warning!</strong> Once you submit this ballot sheet, the judges for this match are going to be locked in and can't be modified or reordered anymore.
div(ng-show='noJudgesWarning').alert
  button(type='button', class='close', ng-click='noJudgesWarning=false'): &times;
  <strong>Warning!</strong> There are no judges assigned to this match. You can still enter scores for the teams, but since they aren't bound to any judge, they won't matter for the judges tab. Furthermore, you cannot assign judges after submitting this ballot sheet.
div(ng-show='outOfRangeError').alert.alert-error
  button(type='button', class='close', ng-click='outOfRangeError=false'): &times;
  <strong>Error!</strong> The scores are not within the valid World Schools range.
div(ng-show='drawsError').alert.alert-error
  button(type='button', class='close', ng-click='drawsError=false'): &times;
  <strong>Error!</strong> Draws are not valid in the World Schools format.
table(editable-table, show-gear='false', model='votes')#votes-table
  thead
    tr
      th(data-auto-index=5) #
      th(data-auto-index=1) Judge
      th(data-auto-index=3).prop P1
      th(data-auto-index=3).prop P2
      th(data-auto-index=3).prop P3
      th(data-auto-index=3).prop PR
      th(data-auto-index=4).prop Prop
      th(data-auto-index=2) vs.
      th(data-auto-index=4).opp Opp
      th(data-auto-index=3).opp O1
      th(data-auto-index=3).opp O2
      th(data-auto-index=3).opp O3
      th(data-auto-index=3).opp OR
  tbody(editable-tbody)
    script(type='text/html')
      td {{$index + 1}}
      td 
        span {{o.judge.name}}
        span(ng-show='o.judge == null').muted-true Not assigned
      - function sideCells(side) {
        - for (var i = 0; i < 4; i++) {
          td(class='valid-{{valid#{side}#{i}}}').nowrap
            text-edit-cell(bind='o.scores[#{side}][#{i}]', enabled='!o.total', valid='valid#{side}#{i}', input-width='17', pattern='[0-9.]*', setter='parseFloat(o)', getter='truncFloat(o, 2)', soft-validator='validateMinMax(o, #{i==3 ? 30 : 60}, #{i==3 ? 40 : 80})')
            i(ng-show='valid#{side}#{i} && (o.scores[#{side}][#{i}] <= #{i==3 ? 30.5 : 61} || o.scores[#{side}][#{i}] >= #{i==3 ? 39.5 : 79})').icon-exclamation.icon-dobitoc
        - } }
      - function sideTotal(side) {
        td {{truncFloat(o.scores[#{side}][0] + o.scores[#{side}][1] + o.scores[#{side}][2] + o.scores[#{side}][3], 2)}}
      - }
      - sideCells(0)
      - sideTotal(0)
      td(class='valid-{{o.aux.decisionValid}}')
        span(ng-show='o.aux.decisionValid').nowrap
          multi-cell(bind='o.prop', enabled='!o.total && (o.aux.validSplits[o.aux.winner].length > 1)', input-width='41', choices='o.aux.validSplits[o.aux.winner]', choice-name='o')
          span 
          i(class='{{winner(o)}}').vote-trophy.icon-trophy
          span 
          multi-cell(bind='o.opp', enabled='!o.total && (o.aux.validSplits[1-o.aux.winner].length > 1)', input-width='41', choices='o.aux.validSplits[1-o.aux.winner]', choice-name='o')
        span(ng-show='!o.aux.decisionValid && !o.total')
          | Draw
        span(ng-show='!o.aux.decisionValid && o.total')
          | Invalid
      - sideTotal(1)
      - sideCells(1)

:stylus
  #votes-table th:nth-child(1)
    width: 20px
  #votes-table th:nth-child(2)
    width: 100px
  #votes-table th:nth-child(3),
  #votes-table th:nth-child(4),
  #votes-table th:nth-child(5),
  #votes-table th:nth-child(6),
  #votes-table th:nth-child(10),
  #votes-table th:nth-child(11),
  #votes-table th:nth-child(12),
  #votes-table th:nth-child(13)
    width: 20px
  #votes-table th:nth-child(7),
  #votes-table th:nth-child(9)
    width: 30px
  #votes-table th:nth-child(8)
    width: 40px

  #votes-table td.valid-false
    background-color: #b94a48
    color: #ffffff

  #votes-table td.valid-false .textedit-cell.invalid .textedit-label
    color: #ffffff

  .icon-dobitoc
    color: #b94a48
    margin-left: 3px
