div(ng-show='lockJudgesInfo').alert.alert-info
  button(type='button', class='close', ng-click='lockJudgesInfo=false') &times;
  <strong>Warning!</strong> Once you submit this ballot sheet, the judges for this match are going to be locked in and can't be modified or reordered anymore.
div(ng-show='noJudgesWarning').alert
  button(type='button', class='close', ng-click='noJudgesWarning=false') &times;
  <strong>Warning!</strong> There are no judges assigned to this match. You can still enter scores for the teams, but since they aren't bound to any judge, they won't matter for the judges tab. Furthermore, you cannot assign judges after submitting this ballot sheet.
div(ng-show='outOfRangeError').alert.alert-error
  button(type='button', class='close', ng-click='outOfRangeError=false') &times;
  <strong>Error!</strong> The scores are not within the valid World Schools range.
div(ng-show='drawsError').alert.alert-error
  button(type='button', class='close', ng-click='drawsError=false') &times;
  <strong>Error!</strong> Draws are not valid in the World Schools format.
table(editable-table, show-gear='false', model='roles')#roles-table
  thead
    tr
      th(data-auto-index=5) Side
      th(data-auto-index=4) 1st Speaker
      th(data-auto-index=3) 2nd Speaker
      th(data-auto-index=2) 3rd Speaker
      th(data-auto-index=1) Reply Speaker
  tbody(editable-tbody)
    script(type='text/html')
      td.nowrap
        input(type='checkbox', ng-model='presence[$index]', tabindex='-1').presence-check
        span(class="{{sidesClass[$index]}}").strong {{sides[$index]}}
      - for (var i = 0; i < 4; i++) {
        td.nowrap
          span(ng-show='!presence[$index]').muted-true not present
          span(ng-show='presence[$index]')
            multi-cell(bind='o.roles[#{i}]', input-width='120', choices='speakers[$index]', choice-name='o.name')
            i(ng-show='#{(i==3) ? "o.roles[3] == o.roles[2]" : "validPlayer(o.roles["+i+"], o.roles) >= 2"}').fa.fa-exclamation.icon-dobitoc
      - }

div(ng-show='presence[0] && presence[1]')
  table(editable-table, show-gear='false', model='votes')#votes-table
    thead
      tr
        th(data-auto-index=5) #
        th(data-auto-index=1) Judge
        th(data-auto-index=3).prop P1
        th(data-auto-index=3).prop P2
        th(data-auto-index=3).prop P3
        th(data-auto-index=3).prop PR
        th(data-auto-index=4).prop Prop
        th(data-auto-index=2) vs.
        th(data-auto-index=4).opp Opp
        th(data-auto-index=3).opp O1
        th(data-auto-index=3).opp O2
        th(data-auto-index=3).opp O3
        th(data-auto-index=3).opp OR
    tbody(editable-tbody)
      script(type='text/html')
        td {{$index + 1}}
        td 
          span {{o.judge.name}}
          span(ng-show='o.judge == null').muted-true Not assigned
        - function sideCells(side) {
          - for (var i = 0; i < 4; i++) {
            td(class='valid-{{valid#{side}#{i}}}').nowrap
              text-edit-cell(bind='o.scores[#{side}][#{i}]', enabled='!o.total', valid='valid#{side}#{i}', input-width='17', pattern='[0-9.]*', setter='parseScoreEntry(#{i}, o)', getter='truncFloat(o, 2)', soft-validator='validateScore(#{i}, o)')
              i(ng-show='valid#{side}#{i} && scoreWarning(#{i}, o.scores[#{side}][#{i}])').fa.fa-exclamation.icon-dobitoc
          - } }
        - function sideTotal(side) {
          td {{truncFloat(o.scores[#{side}][0] + o.scores[#{side}][1] + o.scores[#{side}][2] + o.scores[#{side}][3], 2)}}
        - }
        - sideCells(0)
        - sideTotal(0)
        td(class='valid-{{o.aux.decisionValid}}')
          span(ng-show='o.aux.decisionValid').nowrap
            multi-cell(bind='o.prop', enabled='!o.total && (o.aux.validSplits[o.aux.winner].length > 1)', input-width='41', choices='o.aux.validSplits[o.aux.winner]', choice-name='o')
            span &nbsp;
            i(class='{{winner(o)}}').vote-trophy.fa.fa-trophy
            span &nbsp;
            multi-cell(bind='o.opp', enabled='!o.total && (o.aux.validSplits[1-o.aux.winner].length > 1)', input-width='41', choices='o.aux.validSplits[1-o.aux.winner]', choice-name='o')
          span(ng-show='!o.aux.decisionValid && !o.total')
            | Draw
          span(ng-show='!o.aux.decisionValid && o.total')
            | Invalid
        - sideTotal(1)
        - sideCells(1)
